server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # Creates/updates tables automatically
    show-sql: true       # See SQL in logs (great for learning)
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always     # Run schema.sql if exists

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000   # 24 hours in ms